{% extends 'base.html' %}
{% block content %}
<section class="main container-fluid">
	<header>
		<nav class="navbar">
			<a href="#" class="nav-link" title="Web">Web</a>
			<a href="#" class="nav-link" title="Configurações">Configurações</a>
		</nav>
	</header>
	<div class="form-search-main">
		<form name="BuscaForm" action="{% url 'pages' %}" method="post">
			{% csrf_token %}
			<input type="search" name="input-busca" placeholder="Pesquisar..." maxlength="150"
				title="Pesquise o que quiser">
			<a href="#" title="Encontre resultados ainda mais relevantes">Estou com sorte?</a>
		</form>
	</div>
</section>
{% endblock content %}