{% extends 'base.html' %}

{% block content %}
	<section class="container-fluid">
		<header>
			<nav class="navbar navbar-expand-lg navbar-dark">
				<button class="navbar-toggler" type="button" data-toggle="collapse">
				  <span class="navbar-toggler-icon"></span>
				</button>
			  
				<div class="collapse navbar-collapse">
				  <ul class="navbar-nav mr-auto">
					<li class="nav-item active">
					  <a class="nav-link" href="#" title="Web">Web</a>
					</li>
					<li class="nav-item">
					  <a class="nav-link" href="#" title="Imagens">Imagens</a>
					</li>
					<li class="nav-item">
					  <a class="nav-link" href="#" title="Videos">Videos</a>
					</li>
					<li class="nav-item">
					  <a class="nav-link" href="#" title="Shopping">Shopping</a>
					</li>
					<li class="nav-item">
					  <a class="nav-link" href="#" title="News">Notícias</a>
					</li>
				  </ul>
				</div>
			</nav>
		</header>
		<div class="area-search">
			<form action="{% url 'results' %}">
				{% csrf_token %}
				<input type="search" class="form-control p-3 shadow-none text-white" name="busca" placeholder="Pesquisar..." maxlength="150" title="Pesquise o que quiser">
			</form>
		</div>
	</section>
{% endblock %}