{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="pages container-fluid bg-light">
  {% include 'header.html' %}

  <section class="results mt-3 ml-4 text-left">

    {% if pages %}
      {% for url in pages %}
        <p class="lead">Aproximadamente {{ total }} resultado{% if total > 1 %}s{% endif %} em (0,64 segundos)</p>

        <a href="{{ url.url }}" class="nav-link  p-0 text-primary"> Titulo da página</a>
        <p>{{ url.url }}</p>
        <p> Breve Descrição...</p>
      {% endfor %}
    {% else %}
      <p class="lead">Nenhum resultado encontrado. Por favor, faça uma nova busca</p>
    {% endif %}

  </section>
</div>
{% endblock content %}