{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <title>KiBusca</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
  <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
  <style type="text/css">
  	body {
  		background: none;
  	}
  	.container-fluid {
  		padding: 30px;
  	}
  	.resultados {
  		padding-left: 30px;
  	}
  	.resultados p {
  		color: #555;
  	 }
  	.resultados a {
  		color: blue;
  		text-align: left;
  	}
    h1 {
      color: gray;
    }

  </style>
</head>
<body>
  <div class="container-fluid">
   <form class="form-inline" id="frm_busca" action="{% url 'pages' %}">
   	{% csrf_token %}
   	<div>
  		<a href=""><img src="{% static 'img/logo.jpg' %}" width="80"></a>
  	</div>
    <div class="form-group">
		<input type="search" class="form-control" id="busca" name="busca" value="{{ request.GET.busca }}" placeholder="Pesquisar...">
      <button type="submit" class="btn btn-primary">Buscar</button>
      </div>
      </form>
    </div>
  <nav class="navbar navbar-expand-sm bg-light navbar-light">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="">Todas</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Imagens</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Vídeos</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Mapas</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Notícias</a>
      </li> 
      <li class="nav-item">
        <a class="nav-link" href="#">Livros</a>
      </li> 
      <li class="nav-item">
        <a class="nav-link" href="#">Filmes</a>
      </li> 
      <li class="nav-item">
        <a class="nav-link" href="#">Shopping</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Filtros</a>
      </li>
    </ul>
  </nav>
 
  <section class="resultados">
    <h1></h1>
  	<p>Aproximadamente {{ total }} resultados (0,64 segundos)</p> 
  	 {% for url in pages %}
     <a href="{{ url.url }}"> Titulo da página</a>
  	 <p>{{ url.url }}</p>

  	 <p> Breve Descrição...</p>
  	 {% endfor %}

     {% if is_paginated %}
      <div class="pagination">
          <ul class="pagination">
              {% if page_obj.has_previous %}
              <li class="page-item">
                  <a class="page-link" href="?page=1">&laquo;</a>
              </li>
              <li class="page-item">
                  <a class="page-link" href="?page={{ page_obj.previous_page_number }}">&lsaquo;</a>
              </li>
              {% endif %}

              {% for num in page_obj.paginator.page_range %}

              {% if page_obj.number == num %}
              <li class="page-item active">
                  <a class="page-link bg-dark" href="?page={{ num }}">{{ num }}</a>
              </li>
              {% else %}
              <li class="page-item">
                  <a class="page-link" href="?page={{ num }}">{{ num }}</a>
              </li>
              {% endif %}

              {% endfor %}

              {% if page_obj.has_next %}
              <li class="page-item">
                  <a class="page-link" href="?page={{ page_obj.next_page_number }}">&rsaquo;</a>
              </li>
              <li class="page-item">
                  <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">&raquo;</a>
              </li>
              {% endif %}
          </ul>
      </div>
{% endif %}

  <section>

<footer>
  <p>Brasil {% block title %}{% endblock %}
    {{ "2021" }}</p>
  <p>Brasília, DF - Do seu endereço IP</p>
</footer>
</body>
</html>