{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="pages container-fluid bg-light">
  {% include 'header.html' %}

  <section class="results mt-3 ml-4 text-left">

    {% if pages %}
    <p class="lead">Aproximadamente {{ total }} resultado{% if total > 1 %}s{% endif %} em ({{ total_time }} segundos)</p>
      {% for url in pages %}
        <a href="{{ url.url }}" class="nav-link p-0 text-primary"> {{ url.meta }}</a>
        <p>{{ url.url }}</p>
        <p>{{ url.descricao }}</p>
      {% endfor %}
    {% else %}
      <p class="lead">Nenhum resultado encontrado. Por favor, faça uma nova busca</p>
    {% endif %}

  </section>
</div>
{% endblock content %}