body {
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	background-image: url(https://source.unsplash.com/random/?Nature);
	background-size: 100%;
	background-repeat: no-repeat;
}

.navbar-nav .nav-link {
	text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}

.area-search {
	width: 40em;
	margin: auto;
	margin-top: 20em;
	border-radius: 30px;
	box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.9);
}

.area-search .form-control  {
	border-radius: 30px;
	background: none;
	border: 1px solid #fff;
	color: #fff;
	text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.9);
}

.area-search input.form-control {
	color: #fff !important;
}

input.form-control::-webkit-input-placeholder { /* Chrome/Opera/Safari */
	color: #fff;
}
input.form-control::-moz-placeholder { /* Firefox 19+ */
	color: #fff;
}
input.form-control:-ms-input-placeholder { /* IE 10+ */
	color: #fff;
}
input.form-control:-moz-placeholder { /* Firefox 18- */
	color: #fff;
}

footer {
	margin-top: 25em;
	text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}

/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
	body {
		background-size: cover;
	}
	.area-search  {
		width: 25em;
		margin-top: 18em;
	}
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) { 
	body {
		background-size: cover;
	}
	.area-search  {
		width: 25em;
		margin-top: 18em;
	}
}